# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
dist/
build/
.env
.venv/
venv/
env/
code_base/
.Python
htmlcov/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.egg
.eggs/
*.whl
*.sqlite3

# IDEs / Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log
ipy_nb/output_analysis

# Misc
Thumbs.db
